@model TDBlog.ViewModels.UserVM

@{
    ViewData["Title"] = "Profile";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="Post">Go Back</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Profile Page </h4>
        </div>

        <div class="container">

            <form asp-action="Profile" asp-controller="User" asp-area="Admin" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ThumbnailUrl" />
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                @{
                                    if (Model.ThumbnailUrl == null)
                                    {
                                        <img src="~/thumbnails/default_image.png" class="img-fluid" id="thumbnail" />
                                    }
                                    else
                                    {
                                        <img src="~/thumbnails/@Model.ThumbnailUrl" class="img-fluid" id="thumbnail" />
                                    }
                                }
                                <h5 class="my-3"></h5>
                                <p class="text-muted mb-1">Avatar</p>
                                <div class="d-flex justify-content-center mb-2">
                                    <input type="file" asp-for="Thumbnail" class="custom-file" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" asp-for="LastName" class="form-control" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                        @* <p class="text-muted mb-0">@Model.Email</p> *@
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">username</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" asp-for="UserName" class="form-control" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                        @* <p class="text-muted mb-0">@Model.UserName</p> *@
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">mobile</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">(098) 765-4321</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">quyền</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" asp-for="Role" class="form-control" />
                                        <span asp-validation-for="Role" class="text-danger"></span>
                                        @* <p class="text-muted mb-0">@Model.Role</p> *@
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">address</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">bay area, san francisco, ca</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100">Save</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(".custom-file").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            document.getElementById('thumbnail').src = window.URL.createObjectURL(this.files[0])
        });
    </script>
}